<div class="login-block" ng-controller="userAuthController">
    <form name="login" ng-submit="checkUser()">
    <h1>Login</h1>
    <input type="text" value="" placeholder="Username" id="email" name="email" ng-model="auth.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"/>
    <div class="alert alert-danger" ng-show="login.email.$error.pattern">Enter valid email</div>
    <input type="password" value="" placeholder="Password" id="password" name="password" ng-model="auth.password"/>
    <button type="submit" ng-disabled="(login.$submitted && login.$invalid)">Submit</button>
    </form>
</div>